:host {
  display: flex;
  align-items: flex-end;
  width: 100%;
  margin-top: 0.5rem;

  &.is-auth {
    flex-direction: row-reverse;
    .chat-line {
      background-color: #0a481a;
    }
  }

  &.is-last {
    margin-bottom: 1rem;
    &:not(.is-auth) {
      .image-profile {
        margin-right: 0.5rem;
      }
    }
    &.is-auth {
      .image-profile {
        margin-left: 0.5rem;
      }
    }
  }

  &:not(.is-last) {
    &:not(.is-auth) {
      .chat-line {
        margin-left: 2rem;
      }
    }
    &.is-auth {
      .chat-line {
        margin-right: 2rem;
      }
    }
  }

  .chat-line {
    background-color: #333;
    width: auto;
    max-width: 70%;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin: 0;
  }

  .image-profile {
    width: 1.5rem;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
}

.is-last {
}
