<p-card header="Register">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-col">
        <label for="email">Email</label>
        <input
          id="email"
          formControlName="email"
          pInputText
          aria-describedby="email-help"
          type="email"
          placeholder="Email"
        />

        @if(registerForm.get('email')?.invalid &&
        registerForm.get('email')?.touched){
        <small id="email-help">
          @if(registerForm.get('email')?.errors?.['required']){ El email es
          obligatorio. } @if(registerForm.get('email')?.errors?.['email']){ El
          email no es válido. }
        </small>
        }
      </div>

      <div class="form-col">
        <label for="password">Contraseña</label>
        <input
          id="password"
          formControlName="password"
          pInputText
          aria-describedby="password-help"
          type="password"
          placeholder="password"
        />

        @if(registerForm.get('password')?.invalid &&
        registerForm.get('password')?.touched){
        <small id="password-help">
          @if(registerForm.get('password')?.errors?.['required']){ La contraseña
          es obligatoria }
          @if(registerForm.get('password')?.errors?.['minlength']){ La
          contraseña debe tener al menos 6 caracteres. }
          @if(registerForm.get('password')?.errors?.['pattern']){ >La contraseña
          debe contener al menos una letra mayúscula, una minúscula y un número.
          }
        </small>
        }
      </div>
    </div>

    <div class="form-row">
      <div class="form-col">
        <label for="nick">Nick</label>
        <input
          id="nick"
          formControlName="nick"
          pInputText
          type="text"
          aria-describedby="nick-help"
          placeholder="Nick"
        />

        @if(registerForm.get('nick')?.invalid &&
        registerForm.get('nick')?.touched){

        <small id="nick-help">
          @if(registerForm.get('nick')?.errors?.['required']){ El nick es
          obligatorio. } @if(registerForm.get('nick')?.errors?.['minlength']){
          El nick debe tener al menos 6 caracteres. }
          @if(registerForm.get('nick')?.errors?.['maxlength']){ El nick no debe
          superar los 16 caracteres. }
        </small>
        }
      </div>

      <div class="form-col">
        <label for="date_birth">Date Birth</label>
        <input
          id="date_birth"
          formControlName="date_birth"
          pInputText
          type="date"
          aria-describedby="date_birth-help"
          placeholder="Date Birth"
        />

        @if(registerForm.get('date_birth')?.invalid &&
        registerForm.get('date_birth')?.touched){
        <small id="date_birth-help">
          @if(registerForm.get('date_birth')?.errors?.['required']){ La fecha de
          nacimiento es obligatorio. }
        </small>
        }
      </div>
    </div>

    <div class="form-row">
      <div class="form-col">
        <label for="country_id">Country</label>
        <p-dropdown
          formControlName="country_id"
          [options]="[
            { name: 'España', code: '66c3667bb611836545fdb833' },
            { name: 'England', code: '66c3667bb611836545fdb833' }
          ]"
          optionLabel="name"
          optionValue="code"
          placeholder="Select a country"
          aria-describedby="country_id-help"
        />
        @if(registerForm.get('country_id')?.invalid &&
        registerForm.get('country_id')?.touched){
        <small id="country_id-help">
          @if(registerForm.get('country_id')?.errors?.['required']){ El pais es
          obligatorio. }
        </small>
        }
      </div>

      <div class="form-col">
        <label for="province_id">Provincia</label>
        <p-dropdown
          formControlName="province_id"
          [options]="[
            { name: 'Madrid', code: '66c3667bb611836545fdb833' },
            { name: 'Liverpool', code: '66c3667bb611836545fdb833' }
          ]"
          optionLabel="name"
          optionValue="code"
          placeholder="Select a state"
          aria-describedby="province_id-help"
        />
        @if(registerForm.get('province_id')?.invalid &&
        registerForm.get('province_id')?.touched){
        <small id="province_id-help">
          @if(registerForm.get('province_id')?.errors?.['required']){ Provincia
          es obligatoria. }
        </small>
        }
      </div>
    </div>

    <div class="form-row">
      <div class="form-col">
        <label for="gender">Gender</label>
        <p-dropdown
          formControlName="gender"
          [options]="[
            { name: 'Male', code: 'male' },
            { name: 'Female', code: 'female' },
            { name: 'Other', code: 'other' }
          ]"
          optionLabel="name"
          optionValue="code"
          placeholder="Select a gender"
          aria-describedby="gender-help"
        />

        @if(registerForm.get('gender')?.invalid &&
        registerForm.get('gender')?.touched){
        <small id="gender-help">
          @if(registerForm.get('gender')?.errors?.['required']){ El género es
          obligatorio. }
        </small>
        }
      </div>

      <div class="form-col form-submit-container">
        <p-button
          label="Sign up"
          type="submit"
          [disabled]="registerForm.invalid"
        />
        <!--<button type="submit" [disabled]="registerForm.invalid" class="h-button">
       Login
     </button>-->
      </div>
    </div>
    <div class="form-row">
      <p>
        Already have an account?
        <a routerLink="/auth/login" routerLinkActive="router-link-active"
          >Sign in</a
        >
      </p>
    </div>
  </form>
</p-card>
