@use "../../../../../assets/styles/abstracts/mixins.scss" as mixins;

:host {
  min-height: 100%;
  width: 100%;
  display: block;
  align-items: center;
  background: rgb(19, 5, 80);
  background: linear-gradient(137deg, rgb(29, 4, 69) 0%, rgb(79, 13, 133) 100%);
  padding: 3rem;
}

.logo {
  display: flex;
  justify-content: center;
  padding-top: 2rem;

  .logo-container {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    text-decoration: none;
    color: #fff;

    img {
      height: 2.5rem;
    }

    h1 {
      color: #eee;
      font-size: 2.5rem;
    }
  }
}

@include mixins.screen(sm) {
  :host {
    padding: 1rem;
  }
}
