<header aria-labelledby="site-title">
  <p-menubar
    role="navigation"
    [model]="[
      {
        label: 'Home',
        routerLink: ['/'],
      },
      {
        label: 'About',
        routerLink: ['/about'],
      },
    ]"
    [ariaLabel]="'app.landing-page.aria.nav-menu' | transloco"
  >
    <ng-template pTemplate="start">
      <a
        id="navbar-logo"
        [routerLink]="['/']"
        [ariaLabel]="'app.landing-page.aria.nav-to-home' | transloco"
      >
        <img src="/images/logo_small.webp" alt="Hexitalk Logo" />
        <span id="site-title">Hexitalk</span>
      </a>
    </ng-template>

    <ng-template pTemplate="end">
      <app-translate-select
        aria-label="Selector de idioma"
      ></app-translate-select>
    </ng-template>
  </p-menubar>
</header>

<main role="main">
  <section
    class="section-main-content"
    aria-labelledby="app-title-description"
    role="region"
  >
    <div class="main-content">
      <h1 id="app-title-description-app-desc">
        {{ "app.about-page.text.about-app-title" | transloco }}
      </h1>
      <p>
        {{ "app.about-page.text.about-app-desc" | transloco }}
      </p>
      <p>
        {{ "app.about-page.text.about-app-sub-desc" | transloco }}
      </p>
      <h1 id="app-title-description-open-source">
        {{ "app.about-page.text.about-open-source-title" | transloco }}
      </h1>
      <p>
        {{ "app.about-page.text.about-open-source-desc" | transloco }}
      </p>
      <p>
        {{ "app.about-page.text.about-open-source-sub-desc" | transloco }}
      </p>
    </div>
  </section>
</main>
