<p-card header="Login">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-col">
        <label for="email">{{
          "app.login-form-auth-component.text.email" | transloco
        }}</label>
        <input
          id="email"
          formControlName="email"
          pInputText
          aria-describedby="email-help"
          type="email"
          [placeholder]="'app.login-form-auth-component.text.email' | transloco"
        />

        @if(loginForm.get('email')?.invalid && loginForm.get('email')?.touched){
        <small id="email-help">
          @if(loginForm.get('email')?.errors?.['required']){
          {{
            "app.login-form-auth-component.text.email-is-required" | transloco
          }}
          } @if(loginForm.get('email')?.errors?.['email']){
          {{ "app.login-form-auth-component.text.email-not-valid" | transloco }}
          }
        </small>
        }
      </div>
    </div>
    <div class="form-row">
      <div class="form-col">
        <label for="password">{{
          "app.login-form-auth-component.text.password" | transloco
        }}</label>
        <input
          id="password"
          formControlName="password"
          pInputText
          aria-describedby="password-help"
          type="password"
          [placeholder]="
            'app.login-form-auth-component.text.password' | transloco
          "
        />

        @if(loginForm.get('password')?.invalid &&
        loginForm.get('password')?.touched){
        <small id="password-help">
          @if(loginForm.get('password')?.errors?.['required']){
          {{
            "app.login-form-auth-component.text.password-is-required"
              | transloco
          }}
          } @if(loginForm.get('password')?.errors?.['minlength']){
          {{
            "app.login-form-auth-component.text.password-not-valid-length"
              | transloco : { length: 5 }
          }}
          } @if(loginForm.get('password')?.errors?.['pattern']){
          {{
            "app.login-form-auth-component.text.password-not-valid-pattern"
              | transloco
          }}
          }
        </small>
        }
      </div>
    </div>
    <div class="form-row">
      <div class="form-col">
        <p-button
          [label]="'app.login-form-auth-component.text.sign-in' | transloco"
          type="submit"
          [disabled]="loginForm.invalid"
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-col">
        <p>
          {{
            "app.login-form-auth-component.text.are-you-new-question"
              | transloco
          }}
          <a routerLink="/auth/sign-up" routerLinkActive="router-link-active">{{
            "app.login-form-auth-component.text.create-account" | transloco
          }}</a>
        </p>
      </div>
    </div>
  </form>
</p-card>
