@use "abstracts/_fontimports" as _fontimports;
//@use "abstract/fontimports" as fontimports;

/* Order */
@layer reset, primeng;

.p-button:focus {
  outline: none;
  box-shadow: none;
}

/*body {
  background-color: #111827;
}*/

/*.p-card {
  background-color: #1f2937;
}*/

html {
  /* line-height: 1.15;
  -webkit-text-size-adjust: 100%;*/
  width: 100%;
  height: 100%;

  font-size: 17px;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

/** {
  font-family: "Roboto";
  color: #ffffffde;
}*/
