$primary: #f9c502ff;
$secondary: #338214;
$tertiary: #bc8c74;
$quaternary: #000c24;
$quinary: #0975a0;
$senary: #0975a0;
$Octonary: #ff0000;
$Nonary: #ff0000;
$Denary: #ff0000;

$lightBlue: #21dced;
$blue: #11afde;
$darkBlue: #014262;

$lightRed: #fd767d;
$red: #ff4352;
$darkRed: #f9253e;
