/* SCSS HEX */
$jonquil: #f9c502;
$india-green: #338214ff;
$beaver: #bc8c74ff;
$oxford-blue: #000c24ff;
$cerulean: #0975a0ff;

/* SCSS Gradient */
$gradient-top: linear-gradient(
  0deg,
  #f9c502ff,
  #338214ff,
  #bc8c74ff,
  #000c24ff,
  #0975a0ff
);
$gradient-right: linear-gradient(
  90deg,
  #f9c502ff,
  #338214ff,
  #bc8c74ff,
  #000c24ff,
  #0975a0ff
);
$gradient-bottom: linear-gradient(
  180deg,
  #f9c502ff,
  #338214ff,
  #bc8c74ff,
  #000c24ff,
  #0975a0ff
);
$gradient-left: linear-gradient(
  270deg,
  #f9c502ff,
  #338214ff,
  #bc8c74ff,
  #000c24ff,
  #0975a0ff
);
$gradient-top-right: linear-gradient(
  45deg,
  #f9c502ff,
  #338214ff,
  #bc8c74ff,
  #000c24ff,
  #0975a0ff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #f9c502ff,
  #338214ff,
  #bc8c74ff,
  #000c24ff,
  #0975a0ff
);
$gradient-top-left: linear-gradient(
  225deg,
  #f9c502ff,
  #338214ff,
  #bc8c74ff,
  #000c24ff,
  #0975a0ff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #f9c502ff,
  #338214ff,
  #bc8c74ff,
  #000c24ff,
  #0975a0ff
);
$gradient-radial: radial-gradient(
  #f9c502ff,
  #338214ff,
  #bc8c74ff,
  #000c24ff,
  #0975a0ff
);
