:host {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 100%;
  width: 38rem;
  aspect-ratio: 1 / 1;
}

// .hub-chat-item {
//   clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
//   background: transparent;
//   overflow: hidden;
//   position: absolute;
//   width: 33%;
//   height: 33%;

//   img {
//     width: 20px;
//   }

//   &:hover {
//     background-color: blanchedalmond;
//   }

//   &.hover-poly-1 {
//     right: 16.66%;
//     top: 8.3%;
//   }
//   &.hover-poly-2 {
//     right: 0;
//     top: 33.5%;
//   }
//   &.hover-poly-3 {
//     right: 16.66%;
//     bottom: 8.3%;
//   }
//   &.hover-poly-4 {
//     left: 16.66%;
//     top: 8.3%;
//   }
//   &.hover-poly-5 {
//     left: 0;
//     top: 33.5%;
//   }
//   &.hover-poly-6 {
//     left: 16.66%;
//     bottom: 8.3%;
//   }
// }

.center-hexagon {
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  position: relative;
  overflow: hidden;
  width: 33%;
  height: 33%;
  cursor: pointer;
  background: rgb(84, 84, 84);

  .hub-chat-container {
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    background-color: #121212;
  }

  &:hover {
    // background: radial-gradient(
    //   circle,
    //   transparent 50%,
    //   rgba(199, 29, 187, 1) 95%
    // );
  }

  .profile-image {
    width: 45%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: 2px solid #d1d1d1;
    position: absolute;
    background-color: #121212;
    left: 27%;
    top: 16%;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .profile-name {
    font-size: 0.8rem;
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 28%;
    text-align: center;
  }
}

.hub-chat-item {
  cursor: pointer;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  background: transparent;
  overflow: hidden;
  position: absolute;
  width: 33%;
  height: 33%;

  .profile-image {
    width: 24%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: 2px solid #d1d1d1;
    position: absolute;
    background-color: #121212;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .profile-name {
    font-size: 0.9rem;
    position: absolute;
  }

  &.hover-poly-1 {
    right: 16.66%;
    top: 8.3%;
    background: rgb(84, 84, 84);
    background: linear-gradient(
      25.5deg,
      rgba(84, 84, 84, 1) 46%,
      rgba(18, 18, 18, 1) 47%
    );

    .hub-chat-container {
      content: "";
      clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
      position: absolute;
      top: 2px;
      right: 2px;
      bottom: 2px;
      left: 2px;
      background-color: #121212;
    }

    &:hover {
      /*.hub-chat-container {
        background: rgb(238, 79, 255);
        background: linear-gradient(
          25.5deg,
          rgba(238, 79, 255, 1) 12%,
          rgba(230, 29, 195, 1) 22%,
          rgba(18, 18, 18, 1) 31%
        );
      }*/
    }

    .profile-image {
      left: 15%;
      bottom: 20%;
    }
    .profile-name {
      left: 19%;
      bottom: 51%;
      text-align: left;
    }
  }

  &.hover-poly-2 {
    right: 0;
    top: 33.5%;
    background: rgb(84, 84, 84);
    background: linear-gradient(
      90deg,
      rgba(84, 84, 84, 1) 46%,
      rgba(18, 18, 18, 1) 47%
    );

    .hub-chat-container {
      content: "";
      clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
      position: absolute;
      top: 2px;
      right: 2px;
      bottom: 2px;
      left: 2px;
      background-color: #121212;
    }

    &:hover {
      background: linear-gradient(
        90deg,
        rgba(199, 29, 187, 1) 0%,
        transparent 45%
      );
    }

    .profile-image {
      left: 15%;
      top: 28%;
    }
    .profile-name {
      left: 19%;
      top: 58%;
      text-align: left;
    }
  }

  &.hover-poly-3 {
    right: 16.66%;
    bottom: 8.3%;
    background: rgb(84, 84, 84);
    background: linear-gradient(
      154.5deg,
      rgba(84, 84, 84, 1) 46%,
      rgba(18, 18, 18, 1) 47%
    );

    .hub-chat-container {
      content: "";
      clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
      position: absolute;
      top: 2px;
      right: 2px;
      bottom: 2px;
      left: 2px;
      background-color: #121212;
    }

    &:hover {
      background: linear-gradient(
        150deg,
        rgba(199, 29, 187, 1) 0%,
        transparent 45%
      );
    }

    .profile-image {
      left: 15%;
      top: 20%;
    }
    .profile-name {
      left: 19%;
      top: 51%;
      text-align: left;
    }
  }

  &.hover-poly-4 {
    left: 16.66%;
    top: 8.3%;
    background: rgb(84, 84, 84);
    background: linear-gradient(
      334.5deg,
      rgba(84, 84, 84, 1) 46%,
      rgba(18, 18, 18, 1) 47%
    );

    .hub-chat-container {
      content: "";
      clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
      position: absolute;
      top: 2px;
      right: 2px;
      bottom: 2px;
      left: 2px;
      background-color: #121212;
    }

    &:hover {
      background: linear-gradient(
        330deg,
        rgba(199, 29, 187, 1) 0%,
        transparent 45%
      );
    }

    .profile-image {
      right: 15%;
      bottom: 20%;
    }
    .profile-name {
      right: 19%;
      bottom: 51%;
      text-align: right;
    }
  }

  &.hover-poly-5 {
    left: 0;
    top: 33.5%;
    background: rgb(84, 84, 84);
    background: linear-gradient(
      270deg,
      rgba(84, 84, 84, 1) 46%,
      rgba(18, 18, 18, 1) 47%
    );

    .hub-chat-container {
      clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
      position: absolute;
      top: 2px;
      right: 2px;
      bottom: 2px;
      left: 2px;
      background-color: #121212;
    }

    &:hover {
      background: linear-gradient(
        270deg,
        rgba(199, 29, 187, 1) 0%,
        transparent 45%
      );
    }

    .profile-image {
      right: 15%;
      top: 28%;
    }
    .profile-name {
      right: 19%;
      top: 58%;
      text-align: right;
    }
  }

  &.hover-poly-6 {
    left: 16.66%;
    bottom: 8.3%;
    background: rgb(84, 84, 84);
    background: linear-gradient(
      205.5deg,
      rgba(84, 84, 84, 1) 46%,
      rgba(18, 18, 18, 1) 47%
    );

    .hub-chat-container {
      content: "";
      clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
      position: absolute;
      top: 2px;
      right: 2px;
      bottom: 2px;
      left: 2px;
      background-color: #121212;
    }

    &:hover {
      background: linear-gradient(
        200deg,
        rgba(199, 29, 187, 1) 0%,
        transparent 45%
      );
    }

    .profile-image {
      right: 15%;
      top: 20%;
    }
    .profile-name {
      right: 19%;
      top: 51%;
      text-align: right;
    }
  }
}

// :host {
//   position: relative;
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   width: 100%;
//   max-width: 30rem;
//   aspect-ratio: 1 / 1;
//   margin: 30px;
// }

// .hexagon-back {
//   width: 65.5%;
// }

// .center-hexagon {
//   clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);

//   width: 28%;
//   height: 32.2%;
//   position: absolute;
//   left: 36.15%;
//   top: 33.8%;
//   cursor: pointer;

//   &:hover {
//     background: radial-gradient(
//       circle,
//       transparent 50%,
//       rgba(199, 29, 187, 1) 95%
//     );
//   }

//   .profile-image {
//     width: 45%;
//     aspect-ratio: 1/1;
//     border-radius: 100%;
//     border: 2px solid #d1d1d1;
//     position: absolute;
//     background-color: #121212;
//     left: 27%;
//     top: 16%;
//     overflow: hidden;
//     img {
//       width: 100%;
//     }
//   }
//   .profile-name {
//     font-size: 0.8rem;
//     position: absolute;
//     left: 10%;
//     right: 10%;
//     bottom: 28%;
//     text-align: center;
//   }
// }

// .hub-chat-item {

//   cursor: pointer;

//   .profile-image {
//     width: 24%;
//     aspect-ratio: 1/1;
//     border-radius: 100%;
//     border: 2px solid #d1d1d1;
//     position: absolute;
//     background-color: #121212;
//     overflow: hidden;
//     img {
//       width: 100%;
//     }
//   }
//   .profile-name {
//     font-size: 0.9rem;
//     position: absolute;
//   }

//   &.hover-poly-1 {
//     position: absolute;
//     right: 0;
//     top: 0;
//     width: 49.8%;
//     height: 41.3%;
//     clip-path: polygon(100% 0, 100% 50%, 30% 100%, 0 79%, 0 0);

//     &:hover {
//       background: linear-gradient(
//         26deg,
//         rgba(199, 29, 187, 1) 0%,
//         rgba(199, 29, 188, 0.701) 5%,
//         transparent 25%
//       );
//     }

//     .profile-image {
//       left: 15%;
//       bottom: 20%;
//     }
//     .profile-name {
//       left: 19%;
//       bottom: 54%;
//       text-align: left;
//     }
//   }

//   &.hover-poly-2 {
//     position: absolute;
//     right: 0;
//     top: 21.1%;
//     width: 34.8%;
//     height: 56.8%;
//     clip-path: polygon(100% 0, 100% 100%, 0 66%, 0 36.2%);

//     &:hover {
//       background: linear-gradient(
//         90deg,
//         rgba(199, 29, 187, 1) 0%,
//         transparent 45%
//       );
//     }

//     .profile-image {
//       left: 15%;
//       top: 34%;
//       width: 34%;
//     }
//     .profile-name {
//       left: 19%;
//       top: 58%;
//       text-align: left;
//     }
//   }

//   &.hover-poly-3 {
//     position: absolute;
//     right: 0;
//     bottom: 0;
//     width: 49.4%;
//     height: 41.5%;
//     clip-path: polygon(28% 0, 100% 48%, 100% 100%, 0 100%, 0 20%);

//     &:hover {
//       background: linear-gradient(
//         150deg,
//         rgba(199, 29, 187, 1) 0%,
//         transparent 45%
//       );
//     }

//     .profile-image {
//       left: 15%;
//       top: 20%;
//     }
//     .profile-name {
//       left: 19%;
//       top: 54%;
//       text-align: left;
//     }
//   }

//   &.hover-poly-4 {
//     position: absolute;
//     left: 0;
//     bottom: 0;
//     width: 50%;
//     height: 41.5%;

//     clip-path: polygon(72.2% 0, 100% 19.5%, 100% 100%, 0 100%, 0 49%);

//     &:hover {
//       background: linear-gradient(
//         200deg,
//         rgba(199, 29, 187, 1) 0%,
//         transparent 45%
//       );
//     }

//     .profile-image {
//       right: 15%;
//       top: 20%;
//     }
//     .profile-name {
//       right: 19%;
//       top: 54%;
//       text-align: right;
//     }
//   }

//   &.hover-poly-5 {
//     position: absolute;
//     left: 0;
//     top: 21.2%;
//     width: 35.2%;
//     height: 56.8%;
//     clip-path: polygon(0 100%, 0 0, 100% 36.2%, 100% 66%);

//     &:hover {
//       background: linear-gradient(
//         270deg,
//         rgba(199, 29, 187, 1) 0%,
//         transparent 45%
//       );
//     }

//     .profile-image {
//       right: 15%;
//       top: 34%;
//       width: 34%;
//     }
//     .profile-name {
//       right: 19%;
//       top: 58%;
//       text-align: right;
//     }
//   }

//   &.hover-poly-6 {
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 50%;
//     height: 41.5%;

//     clip-path: polygon(100% 0, 100% 79%, 71% 100%, 0 50%, 0 0);

//     &:hover {
//       background: linear-gradient(
//         330deg,
//         rgba(199, 29, 187, 1) 0%,
//         transparent 45%
//       );
//     }

//     .profile-image {
//       right: 15%;
//       bottom: 20%;
//     }
//     .profile-name {
//       right: 19%;
//       bottom: 54%;
//       text-align: right;
//     }
//   }
// }
